<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>Email ist Bereits Registriert.</h2>
        @Html.ActionLink("Zurück", "Registrieren","Kunde")
    </hgroup>
</body>
</html>
