
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

<form method="post" action="/Login/Login">
    @Html.AntiForgeryToken()
    <label for="email">Email</label>
    <input type="text" id="email" name="Email" />

    <label for="passwort">Passwort</label>
    <input type="text" id="paswort" name="Passwort" />

    <button type="submit">Submit</button>

    @Html.ActionLink("Registrieren", "Registrieren","Kunde")
</form>