@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container bg-dark text-white my-5 p-2">
    <h2>Login</h2>
    <p>
        Bitte loggen Sie sich ein.
    </p>

    <form method="post" action="/Login/Login">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="form-group row">
                <div class="col-md-10">
                    <label class="form-label" for="email">Email</label>
                    <br />
                    <input class="form-control" type="text" id="email" name="Email" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-10">
                    <label class="form-label" for="passwort">Passwort</label>
                    <br />
                    <input class="form-control" type="password" id="passwort" name="Passwort" />
                </div>
            </div>

            <br>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Login</button>
                </div>
            </div>

            @Html.ActionLink("Registrieren", "Registrieren", "Kunde")
        </div>
    </form>
</div>