@model Ski_Service_Applikation.miete

@{
    ViewBag.Title = "Confirmation";
    Layout = "~/Views/Shared/_Layout_k_in.cshtml";
}

<h2>Bestätigung</h2>



<div>
    @Html.ActionLink("Home", "Index",controllerName: "Angebot")
</div>


